# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store
**/.DS_Store

# IDE
.idea/
*.swp
*~

# Secrets
*.p12
*.mobileprovision
AuthKey_*.p8
